@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: bold;
  src: url('./assets/fonts/SpoqaHanSansNeo-Bold.otf') format('woff2'),
      url('./assets/fonts/SpoqaHanSansNeo-Bold.otf') format('woff'),
      url('./assets/fonts/SpoqaHanSansNeo-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: light;
  src: url('./assets/fonts/SpoqaHanSansNeo-Light.otf') format('woff2'),
        url('./assets/fonts/SpoqaHanSansNeo-Light.otf') format('woff'),
        url('./assets/fonts/SpoqaHanSansNeo-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: medium;
  src: url('./assets/fonts/SpoqaHanSansNeo-Medium.otf') format('woff2'),
      url('./assets/fonts/SpoqaHanSansNeo-Medium.otf') format('woff'),
      url('./assets/fonts/SpoqaHanSansNeo-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: regular;
  src: url('./assets/fonts/SpoqaHanSansNeo-Regular.otf') format('woff2'),
        url('./assets/fonts/SpoqaHanSansNeo-Regular.otf') format('woff'),
        url('./assets/fonts/SpoqaHanSansNeo-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: thin;
  src: url('./assets/fonts/SpoqaHanSansNeo-Thin.otf') format('woff2'),
        url('./assets/fonts/SpoqaHanSansNeo-Thin.otf') format('woff'),
        url('./assets/fonts/SpoqaHanSansNeo-Thin.otf') format('truetype');
}

:root {
  --main-color: #6327FE;
  --text-color: #333333;
  --text-sub-color: #828282;
  --text-emphasis-color: #EB5757;
  --bg-purple-color: #F3F0FB;
  --bg-grey-color: #F2F2F2;
  --border-color: #C4C4C4;
  --border-sub-color: #E0E0E0;
  --button-border-color: #BDBDBD;
  --item-hover-color: #F8F5FF;
  --white: #FFF;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0,0,0,0);
}